.half {

    &__container {
        padding: 40px 0;
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        //align-items: center;
    }

    &__text {
        flex-basis: 45%;
        max-width: 45%;
        padding: 40px;

        ul {
            width: auto;
            text-align: left;
            display: inline-block;
            padding: 0;
            margin: 0 auto;
            list-style: circle;
        }

    }

    &__img {
        flex-basis: 55%;
        max-width: 55%;
        padding: 0 40px;

        img {
            height: 100%;
        }

    }

}