.header {
    padding: 0;

    &__big {
        
        img {
            max-height: 80vh;
        }
        
    }

    .container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        @media(max-width: 767px) {
            flex-wrap: wrap;
        }

    }

}