.navigation {
    padding: 0;
    position: relative;
    z-index: 99999999;

    &__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;
    }

    &__logo {
        border-radius: 100%;
        background-color: white;
        padding: 15px;
        margin: -5px 0 -50px -15px;

        object,
        svg {
            width: 230px;
        }

    }

    &__menu {
        display: flex;
        flex-wrap: nowrap;
        margin-right: -20px;

        li {

            a {
                font-size: 19px;
                letter-spacing: 0.5px;
                transition: all 250ms ease;
                padding: 10px 20px;
                display: block;
                font-weight: 400;
            }
            
            &:hover,
            &.active {

                a {
                    color: $color-tertiary;
                    text-decoration: none;
                }

            }

        }

    }

}