.omnie {

    &__container {
        padding-top: 50px;
        padding-bottom: 50px;

        h4 {
            margin-top: 30px;
        }

        ul {
            padding: 10px 20px;
            list-style: circle;
        }

    }

}