.btn {
	position: relative;
	display: inline-block;
	white-space: nowrap;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none!important;
		outline: none!important;

		* {
			text-decoration: none!important;
			outline: none!important;
		}

	}

	&__default  {
		background-color: $color-tertiary;
		color: white;
		font-size: 18px;
		margin: 1em auto;
		padding: 7px 30px;
		border-radius: 6px;
		outline: 0;
		border: 2px solid $color-tertiary;
		font-weight: 700;

		&:hover {
			color: $color-tertiary;
			background-color: transparent;
		}

	}

	&__hollow {
		background-color: transparent;
		color: $color-tertiary;

		&:hover {
			color: white;
			background-color: $color-tertiary;
		}

	}

}